// Colors
$primary: #005D83;
$white: #ffffff;
$light: #F8F8F8;
$dark: #4D4D4D;
$yellow: #F5B335;
// Fonts
$font-family-base: 'Roboto',
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$body-color: $dark;
// Misc
$enable-rounded: false;
$border-width: 2px;
// Navbar
$navbar-toggler-font-size: 1.75rem;
$navbar-light-color: $primary;
$navbar-light-hover-color: $yellow;
$navbar-light-active-color: $yellow;
$navbar-light-toggler-border-color: $white;