.home .type-page .entry-content {
    text-align: center;
    h2::after {
        margin-left: auto;
        margin-right: auto;
    }
}

.front-spots_grid {
    @include media-breakpoint-up(sm) {
        display: flex;
        flex-wrap: wrap;
        .card-spot {
            flex-basis: 50%;
            &:nth-of-type(5) {
                flex-basis: 100%;
            }
        }
    }
    @include media-breakpoint-up(md) {
        .card-spot {
            flex-basis: 33.33%;
            &:nth-of-type(n + 4) {
                flex-basis: 50%;
            }
        }
    }
}