// Card figure for spot and news
.card-figure {
    a {
        position: relative;
        display: block;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba($primary, 0.7);
            opacity: 0;
            transition: 0.3s;
        }
        img {
            transition: 0.3s;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
            img {
                transform: scale(1.1);
            }
        }
    }
}

// Card spot
.card-restaurant {
    a {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 50%;
            position: absolute;
            bottom: 0;
            background-image: linear-gradient(to top, $gray-800, transparent);
            transition: 0.3s;
        }
        &:hover::after {
            opacity: 0;
        }
    }
    .entry-title {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 2;
        color: $white;
        text-align: right;
        text-transform: none;
        &::after {
            content: none;
        }
    }
}